@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
}
*{
  box-sizing:border-box
}
.btn-primary{
@apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all;
}
.slick-dots{
  @apply !flex justify-start w-full;
 }
.slick-dots .slick-active div{
@apply bg-primary;
}
.slick-dots div{
  @apply !m-0 !mt-6;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
